<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :subject_name %>
  </div>

  <div class="field">
    <%= form.label :website1 %>
    <%= form.text_field :website1, id: :subject_website1 %>
  </div>

  <div class="field">
    <%= form.label :website2 %>
    <%= form.text_field :website2, id: :subject_website2 %>
  </div>

  <div class="field">
    <%= form.label :website3 %>
    <%= form.text_field :website3, id: :subject_website3 %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :subject_notes %>
  </div>

  <div class="actions">
    <%= form.submit "Create Course" %>
  </div>
<% end %>
