
<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @subject.name %>
  </p>

  <p>
    <% if @subject.website1 %>
      <strong>Website 1:</strong>
      <br>
      <%= link_to @subject.website1, :target => "_blank" %>
    <% end %>
  </p>


  <p>
    <% if @subject.website2 %>
      <strong>Website 2:</strong>
      <br>
      <%= link_to @subject.website2, :target => "_blank" %>
    <% end %>
  </p>

  <p>
    <% if @subject.website3 %>
      <strong>Website 3:</strong>
      <br>
      <%= link_to @subject.website3, :target => "_blank" %>
    <% end %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @subject.notes %>
  </p>

  <%= link_to 'Edit', edit_subject_path(@subject) %> |
  <%= link_to 'Back', subjects_path %>
</div>