<%= form_with(model: coursev2, local: true) do |form| %>
  <% if coursev2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coursev2.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% coursev2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :coursev2_name %>
  </div>

  <div class="field">
    <%= form.label :website1 %>
    <%= form.text_area :website1, id: :coursev2_website1 %>
  </div>
  <div class="field">
    <%= form.label :website2 %>
    <%= form.text_area :website2, id: :coursev2_website2 %>
  </div>
  <div class="field">
    <%= form.label :website3 %>
    <%= form.text_area :website3, id: :coursev2_website3 %>
  </div>



  <div class="field">
    <%= form.label :duedate %>
    <%= form.date_select :duedate, id: :coursev2_duedate %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :coursev2_notes %>
  </div>

  <div class="actions">
    <%= form.submit "Create Course" %>
  </div>
<% end %>
