<p id="notice"><%= notice %></p>

<h1>Coursev2s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Duedate</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coursev2s.each do |coursev2| %>
      <tr>
        <td><%= coursev2.name %></td>
        <td><%= coursev2.website %></td>
        <td><%= coursev2.duedate %></td>
        <td><%= coursev2.notes %></td>
        <td><%= link_to 'Show', coursev2 %></td>
        <td><%= link_to 'Edit', edit_coursev2_path(coursev2) %></td>
        <td><%= link_to 'Destroy', coursev2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coursev2', new_coursev2_path %>
