<p id="notice"><%= notice %></p>

<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Courses</h1>

      <tbody>
        <% @coursev2s.each do |coursev2| %>
          <tr>
            <pre>  
            <td><%= link_to coursev2.name, coursev2 %></td>   
            <td><%= link_to 'Edit', edit_coursev2_path(coursev2) %></td>    
            <td><%= link_to 'Delete', coursev2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </pre>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to "Add Course?", new_coursev2_path, class: "btn btn-lg btn-primary" %>

</div>