
<% content_for(:sidebar) do %>
	<%= render :partial => "layouts/sidebar" %>
<% end %>

 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @coursev2.name %>
	</p>

	<p>
	  <strong>Website 1:</strong>
	  <%= @coursev2.website %>
	</p>

	<p>
	  <strong>Duedate:</strong>
	  <%= @coursev2.duedate %>
	</p>

	<p>
	  <strong>Notes:</strong>
	  <%= @coursev2.notes %>
	</p>

	<%= link_to 'Edit', edit_coursev2_path(@coursev2) %> |
	<%= link_to 'Back', coursev2s_path %>
</div>